@import "Common.less";

body, div {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

h1.title {
    margin: 0;
    height: @title-height;
    padding-left: 1em;
    background: rgba(255, 255, 255, .8);
    border-bottom: solid 1px rgba(0, 0, 0, .6);
    z-index: 100;
}

h3.in-balloon {
    margin-top: 3px;
    margin-bottom: 3px;
}

div.menuBar {
    padding-top: 100px;
    font-size: xx-large;
    text-align: center;
    box-shadow: rgba(0,0,0,.3) 0px 1px;
    position: absolute;
    top: @title-height;
    left: 0;
    width: @menu-bar-width;
    height: @content-height;
    border-right: solid 1px rgba(30, 150, 30, 1);
    z-index: 1;
    .gradient();
}

div.menu {
    .contentArea();
    display: none;
    background: rgba(230, 255, 230, 1);
    border: solid 1px rgba(0, 100, 0, 1);
    z-index: 100;

    > div {
        .gradient();
        box-shadow: 3px 3px rgba(0, 0, 0, .3);
        border: solid 1px rgba(0, 30, 0, .5);
        border-radius: @border-radius-normal;
        margin: 20px;
        padding-top: 40px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        width: 300px;
        height: 80px;
        font-size: 200%;
        text-align: center;
    }
}

div.map {
    .contentArea();
    background: rgba(255, 230, 230, 1);
    border: solid @map-border-width rgba(255, 0, 0, 1);
    z-index: -1;

    > img {
        padding-top: 10em;
        padding-left: 35%;
    }
}

div.balloon-content {
    ul > li {
        > label {
            text-align: right;
            display: inline-block;
            width: 60px;
        }
        > label:after {
            content: ':';
        }
    }
    input {
        width: 300px;
    }
}
